.container{
    width: 100%;
    // display: inline-block;
    // align-content: center;
    // text-align: center;
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEFE5;
}
.project{
    padding-left: 2%;
    // display: inline-block;
    // float: left;
    // min-width: 5em;
    // min-height: 20%;
    // border: 2px solid black;
}