<!-- <div class="container">
  <div class="project project1">
    <app-p1></app-p1>
  </div>
  <div class="project project2">
    <app-p2></app-p2>
  </div>
  <br>
  <div class="project project3"></div>
  <div class="project project4"></div>


</div> -->

<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-6 project">
      <app-p1  #p1></app-p1>
    </div>
    <div #p2 class="ui-g-12 ui-md-12 ui-lg-6 project">
      <app-p2></app-p2>
    </div>
    <div #p3 class="ui-g-12 ui-md-12 ui-lg-6 project">
      <app-p2></app-p2>
    </div>
    <div #p4 class="ui-g-12 ui-md-12 ui-lg-6 project">
      <app-p2></app-p2>
    </div>

  </div>
</div>