<div class="container">
  <div class="ui-g ">
    <div class="ui-g-12 ui-md-6 ui-lg-2 div">
      <span class="logo">
        <img src="../../assets/sail-boat-icon.png" alt="">
      </span>
      <p-card title="Title ">
        Content
      </p-card>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-2 div">
      <span class="logo">
        <img src="../../assets/ship-wheel-icon.png" alt="">
      </span>

    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-2 div">
      <span class="logo">
        <img src="../../assets/tools-icon.png" alt="">
      </span>

    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-2 div">
      <span class="logo">
        <img src="../../assets/profle-icon.png" alt="">
      </span>

    </div>

  </div>

</div>