.container{
    width: 100%;
    min-height: 15em;
    background-color: #EEEFE5;
    // align-content: center;
    // text-align: center;
    display: flex;
    // align-items: center;
    justify-content: center;
}
.div{
    // float: left;
    // display: inline-block;
    min-height: 24em;
    min-width: 15em;
    border: 2px solid black;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logo{
    min-height: 7em;
    min-width: 7em;
    // border: 2px solid black;
    margin: auto;
    border-radius: 60px;
    position: relative;
    bottom: 200px;
}