<app-nav></app-nav>
<div class="container">
  <div class="mainText">
    <p>
BE UNIC
      <!-- <span class="bold">BE</span> -->
      <!-- <span class="bold"> UNIC</span> -->
    </p>
    <!-- <img class="paceImg" src="../../assets/10830587_10152961655453291_6606870935796210040_o.jpg" alt=""> -->
  </div>
  <img class="totem" src="../../assets/totemsquish.png" alt="">

  <div class="info">
    <p>
      using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content
      here',


    </p>
  </div>
</div>